@model bool?
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Value, new {data_type = "boolean", data_bind = "checked: data." + ViewData.ModelMetadata.PropertyName})
    </label>
</div>
